server {
    listen {{ nginx_site_listen_port }};
    server_name {{ nginx_server_name }};

    root {{ nginx_docroot }};
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
}
